# ==============================
# Namespace
# ==============================
apiVersion: v1
kind: Namespace
metadata:
  name: gr-lokalna
---
# ==============================
# Configmap + Secret
# ==============================
apiVersion: v1
kind: ConfigMap
metadata:
  name: fastapi-config
  namespace: gr-lokalna
data:
  MONGO_URI: mongodb://mongo-service:27017

---
apiVersion: v1
kind: Secret
metadata:
  name: fastapi-secret
  namespace: gr-lokalna
type: Opaque
stringData:
  MONGO_DB: testdb

---


# ==============================
# MongoDB Deployment + Service
# ==============================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-deployment
  namespace: gr-lokalna
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:4.0
          ports:
            - containerPort: 27017

---
apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: gr-lokalna
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
  clusterIP: None

# ==============================
# FastAPI Deployment + Service
# ==============================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  namespace: gr-lokalna
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: fastapi:latest
          imagePullPolicy: Never
          envFrom:
            - configMapRef:
                name: fastapi-config
            - secretRef:
                name: fastapi-secret
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-nodeport
  namespace: gr-lokalna
spec:
  type: NodePort
  selector:
    app: fastapi
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080


